.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container h1 {
  font-size: 170px;
  margin-bottom: 0;
  color: #676a6c;
  font-family: "Peyda-Light";
}

.container h3 {
  font-size: 20px;
}
